.customer {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/photowork1.jpg");
  background-position: center;
  margin-top: 29%;
}
.pofcustomer h1 {
  text-align: center;
  padding-top: 100px;
  margin-top: 50px;
}
.Nunc {
  text-align: center;
  padding-top: 48px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: 300;
  color: white;
}
.circle {
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-image: url("../../assets/img/mike.jpg");
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.mike {
  padding-top: 150px;
  margin-left: 35px;
  color: whitesmoke;
}
